<h1>Consent</h1>
<%= form_for current_user, url: onboardings_consents_path do |f| %>
  <%= current_user.errors.full_messages %>
  <div>
    <%= f.label :consent %>
    <%= f.check_box :consent, required: true %>
  </div>
  <%= f.submit 'Confirm' %>
<% end %>