<!DOCTYPE html>
<html>
<head>
  <title>PlayqpidRevise</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= tag(:meta, name: 'session_path', content: sessions_path) %>
  <%= tag(:meta, name: 'session_path', content: sessions_path) %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body data-controller="facebook-login">
<p>
  <%= flash[:alert] %>
</p>
<% if authenticated? %>
  <button data-action="facebook-login#signOut">Sign Out</button>
<% end %>
<script>


</script>
<%= yield %>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
</body>
</html>
